<ion-content>
  <ion-card class="periodosCard" *ngIf="periodos">
    <ion-card-header>Escoja Período</ion-card-header>
    <ion-item>
      <ion-select placeholder="Periodo" (ionChange)="periodoSelected($event)" >
        <ion-option *ngFor="let periodo of periodos" [value]="periodo.id">{{getMonthName(periodo.mes)}} {{periodo.anho}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="salarios">
    <ion-list padding>
      <ion-item *ngFor="let salario of salarios">
        <h3 class="margin"> {{salario.tiposueldo}} </h3>
        <ion-item>
          <p>Crédito</p>
          <p item-end>{{salario.credito | number}} </p>
        </ion-item>
        <ion-item>
          <p>Débito</p>
          <p item-end>{{salario.debito | number}} </p>
        </ion-item>

      </ion-item>
    </ion-list>
    <ion-item *ngIf="!salarios.length">
        <p text-wrap>Sin registros de salario en el período escogido</p>
      </ion-item>
  </ion-card>
  
</ion-content>