<ion-header>
  <ion-navbar color="positive" no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Todas las notas finales</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top *ngIf="calificaciones">
    <ion-segment [(ngModel)]= "segment">
      <ion-segment-button *ngFor="let nota of calificaciones.notas | groupBy:'anho' | pairs | orderBy:'nota[0]' | reverse" value="{{nota[0]}}">
        {{nota[0]}}
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="isObjectEmpty(calificaciones.notas)" text-center>
        No posee calificaciones en esta carrera
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="calificaciones">
    <div text-center>
      <button ion-button block >Promedio general: {{ calificaciones.promedio }}</button>
    </div>
    <div [ngSwitch]="segment">
      <div *ngFor="let nota of calificaciones.notas | groupBy:'anho' | pairs">
        <ion-list *ngSwitchCase="nota[0]" ngSelected="selected">
          <ion-list-header>{{ segment }}</ion-list-header>
          <ion-item-sliding>
            <ion-item *ngFor="let materia of nota[1] | orderBy:'fecha' | reverse">
              <ion-card>
                <ion-card-header style="white-space: normal;">
                  <ion-row justify-content-between>
                    <ion-col col-11>
                      <span item-left>{{materia.descripasign}}</span>
                    </ion-col>
                    <ion-col col-1>
                      <span item-right>{{materia.nota}}</span>
                    </ion-col>
                  </ion-row>
                </ion-card-header>
                <ion-card-content>
                  <ion-note item-start>
                    Fecha: {{ materia.fecha | date:'dd-MM-yyyy' }}, Acta {{materia.nroacta}}
                  </ion-note>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>