<ion-header>
  <ion-navbar color="positive" no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Estado de Cuenta</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tipo">
      <ion-segment-button value="pendientes">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="todas">
        Todas
      </ion-segment-button>
      <ion-segment-button value="tigo money">
        Tigo Money
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="tipo">
    <div *ngSwitchCase="'pendientes'" >
      <button ion-button block>Total Gs. {{ cuentasPendientes | pluck: 'monto' | sum | number  }}</button>
      <div *ngFor="let cuenta of cuentasPendientes | groupBy:'secuencia' | pairs ; let i=index">
        <ion-list no-border>
            <ion-list-header>{{ cuenta[1][0].concepto }}</ion-list-header>
          <ion-item >
            <ion-icon name='ios-information-circle-outline' item-start></ion-icon>
            Monto
            <ion-note item-end> Gs. {{ cuenta[1] | pluck: 'monto' | sum | number }} </ion-note>
          </ion-item>
          <ion-item >
              <ion-icon name='ios-information-circle-outline' item-start></ion-icon>
              Vencimiento
              <ion-note item-end> {{ cuenta[1][0].fechaVencimiento }} </ion-note>
            </ion-item>
            <ion-item >
                <ion-icon name='ios-information-circle-outline' item-start></ion-icon>
                Detalle
                <ion-note item-end> {{ cuenta[1][0].asignaturas }} </ion-note>
              </ion-item>
        </ion-list>  
      </div>
    </div>
    <div *ngSwitchCase="'todas'" >
        <button ion-button block>Total Gs. {{ cuentas | pluck: 'monto' | sum | number  }}</button>
        <div *ngFor="let cuenta of cuentas | groupBy:'secuencia' | pairs ; let i=index">
          <ion-list no-border>
              <ion-list-header>{{ cuenta[1][0].concepto }}</ion-list-header>
            <ion-item >
              <ion-icon name='ios-information-circle-outline' item-start></ion-icon>
              Monto
              <ion-note item-end> Gs. {{ cuenta[1] | pluck: 'monto' | sum | number  }} </ion-note>
            </ion-item>
            <ion-item >
              <ion-icon name='ios-information-circle-outline' item-start></ion-icon>
                Vencimiento
              <ion-note item-end> {{ cuenta[1][0].fechaVencimiento }} </ion-note>
            </ion-item>
            <ion-item >
              <ion-icon name='ios-information-circle-outline' item-start></ion-icon>
                Detalle
              <ion-note item-end> {{ cuenta[1][0].asignaturas }} </ion-note>
            </ion-item>
          </ion-list>  
        </div>
      </div>
  </div>
</ion-content>
