<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-content >
    <div class="side-menu-gradient">
    <div class="spacer" style="width: 248px; height: 22px;"></div>
    <div class="profile-image">
      <img src="assets/imgs/blank-profile-picture.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div *ngIf="user">
      <h3 id="menu-heading1" style="color: rgb(255, 255, 255); font-weight: 300; text-align: center;">{{ user.nameAndSurname }}</h3>
    </div>
    <div class="spacer" style="width: 248px; height: 22px;"></div>
  </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages | filterBy: ['subitem']: 'false'" (click)="openPage(p)" class="item-icon-left side-menu-item" [class.active-page]="checkActive(p)">
          <ion-icon name={{p.icon}} item-start></ion-icon>{{p.title}}
      </button>
    </ion-list>
    
    <ion-list>
        <button menuClose ion-item class="item-icon-left side-menu-item" (click)="showConfirm()">
            <ion-icon name='md-exit' item-start></ion-icon>Cerrar Sesión  
        </button>
    </ion-list>

  </ion-content>
  
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>