<ion-content>
  <ion-item *ngFor="let inscripcion of inscripciones">
    <ion-card>
      <ion-card-header style="white-space: normal;">
        <ion-row justify-content-between>
          <span item-right>{{inscripcion.asignat}}</span>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          Curso
          <span item-end>{{ inscripcion.codcurso }}</span>
        </ion-item>
        <ion-item>

          Tipo
          <span item-end>{{ inscripcion.tipoexam }}</span>
        </ion-item>
        <ion-item>

          Fecha de examen
          <ion-badge item-end>{{ inscripcion.fechaexam | date: 'dd/MM/yyyy' }}</ion-badge>
        </ion-item>

        <ion-item>

            Hora de examen
            <ion-badge item-end>{{ inscripcion.fechaexam | date: 'HH:mm' }}</ion-badge>
          </ion-item>
        
      </ion-card-content>
    </ion-card>
  </ion-item>
  <div *ngIf="inscripciones && inscripciones.length == 0" text-center>
    No posee inscripciones
  </div>
</ion-content>