<ion-header>
  <ion-navbar color="positive" no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Extensión Universitaria</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tipo">
      <ion-segment-button value="resumen">
        Resumen
      </ion-segment-button>
      <ion-segment-button value="actividades">
        Actividades
      </ion-segment-button>
      <ion-segment-button value="tipoEvento">
        Por Tipo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

   
  <div [ngSwitch]="tipo">
    <div *ngSwitchCase="'actividades'" >
      <ion-list *ngIf="extension">
        <button ion-item *ngFor="let actividad of extension.resumenExtension.extensionList" (click)="openModal(actividad)">
          {{actividad.descripcion}}
          <div class="item-note" item-end>
            {{actividad.horasCumplidas}}
          </div>
        </button>
      </ion-list>
    </div>
    <div *ngSwitchCase="'resumen'" >
        <ion-card *ngIf="extension"> 
            <ion-card-header>Resumen</ion-card-header>
            <ion-item>
              <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
                Horas Requeridas
              <ion-badge item-end>{{ extension.resumenExtension.horasRequeridas }}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
                Horas Ajustadas
              <ion-badge item-end>{{ extension.resumenExtension.horasAjustadas }}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
                Horas Cumplidas
              <ion-badge item-end>{{ extension.resumenExtension.horasCumplidas }}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
                Mínimo de actividades requeridas
              <ion-badge item-end>{{ extension.resumenExtension.minactreq }}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
                Actividades reallizadas
              <ion-badge item-end>{{ extension.resumenExtension.activcount }}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
                Credito completo ?
              <ion-badge item-end>{{ extension.resumenExtension.creds_completo }}</ion-badge>
            </ion-item> 
        </ion-card>    
    </div>
    <div *ngSwitchCase="'tipoEvento'" >
      <ion-list no-border *ngFor="let tipo of extension.resumenExtensionPorTipoEvento">

              <ion-list-header>
                {{tipo.descripcion}}
              </ion-list-header>
              <ion-item>
                  Cantidad
                <ion-note item-end>
                {{tipo.cantidad}}
                </ion-note>
              </ion-item>
              <ion-item>
                  Creditos
                <ion-note item-end>
                {{tipo.creditos}}
                </ion-note>
              </ion-item>
              <ion-item>
                Ajustado
              <ion-note item-end>
              {{tipo.ajustado}}
              </ion-note>
            </ion-item>
            </ion-list>
    </div>
  </div>
</ion-content>
